hypothesis_logs/
*.log
logs/
__pycache__/
generated_hypotheses/
function_calling_results/
hypothesis_results/*
AG4/*

 # Development Environment
.env
.env.*
!.env.prod
!.env.dev
!.env.production
!.env.development
!.env.localbackend
!.env.staging
!.env.example
.venv/
venv/
ENV/
.python-version
.node-version
.secrets

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor and IDE Files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.sublime-workspace
*.sublime-project
.project
.pydevproject

# Logs and Debug Files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
firebase-debug.log*
firebase-debug.*.log*
debug.log
pip-log.txt
pip-delete-this-directory.txt

# Dependencies and Build Artifacts
node_modules/
dist/
dist-ssr/
build/
*.local
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
**/version.py

# Test Coverage and Cache
coverage/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/
.hypothesis/
.tox/
htmlcov/
scratchpad.ipynb

# Documentation
docs/_build/
site/

# Deployment and Infrastructure
.terraform/
*.tfstate
*.tfstate.*
.terraformrc
terraform.rc
google.json
.image-tag
*.pem
.vercel
.netlify
.firebase/
.dataconnect
config.mk
config_custom.json
.terraform.lock.hcl
.build
infrastructure/terraform/services/crow-service/environment.auto.tfvars
infrastructure/terraform/services/crow-ui/environment.auto.tfvars

# Temporary Files
*.bak
*.swp
*.swo
*~
.temp/
.tmp/
tmp/
temp.ipynb
output.txt

# Playwright output
playwright-report/
test-results/
packages/crow-integration-tests/errors/

.ipynb_checkpoints/


# Other
./CLAUDE.md
